/* DESKTOP */

:root {
    --IMDpink: #FCD7F7;
    --IMDblue: #0600ff;
    --IMDgreen: #bffd00;
    --IMDlightGrey: #e5e3e3;
    --errorRed: #f04c25;
    --errorRedLight: #fc0b2b63;
}

/* Welcome */
@media (min-width: 700px) {
    .logo-row {
        position: absolute;
        top: 30vh;
        margin: 0 0 0 15em;
        text-align: center;
        width: 100%;
    }

    .logo-row .logo {
        width: 450px;
        margin: 0;
    }

    .slogan {
        display: block;
        color: white;
        text-transform: uppercase;
        width: 100%;
        font-size: 2em;
    }

    .form {
        margin: 0 4em;
    }

    .form-background {
        height: 100vh;
        position: relative;
    }

    .form-container {
        border-radius: 0 40px 40px 0;
        height: 100vh;
        width: 33%;
    }

    .form-background .form-title {
        margin-top: 3em;
    }

    .welcomeIcon {
        margin-top: 7em;
    }

    #filler {
        margin-bottom: 45vh;
    }

    #filler img {
        width: 250px !important;
    }

}



/* Navigatie */
@media (max-width: 1300px) {
    nav.top-nav {
        display: none;
    }
}

@media (min-width: 1300px) {
    #home #container-logo {
        display: none;
    }

    #home {
        margin-top: 2em;
    }

    nav.bottom-nav {
        display: none;
    }

    #home .main-btn {
        width: 200px;
    }

    #home .main-margin {
        margin: auto;
    }
}


/* Profile */
@media (min-width: 700px) {
    .feed article {
        max-width: 250px;
    }

    .tnl-container{
        background-color: var(--IMDpink);
        padding: 2em;
        border-radius: 10px;
        width: 500px;
        height: auto;
        margin: 2em auto 0 auto;
    }
}

@media (min-width: 1300px) {
    #profile {
        position: relative;
        height: 90vh;
    }

    .desktop-background {
        background: var(--IMDpink);
        display: block;
        width: 100vw;
        height: 200px;
    }

    .profile-container {
        margin: -10vh 0 1em 0;
        align-self: center;
        background-color: white;
        border: 2px solid var(--IMDblue);
        border-radius: 10px;
        width: 500px;
        height: min-content;
    }

    .profile-container .profile-header {
        border-bottom: none;
        display: flex;
        flex-direction: row;
    }

    .profile-container .profile-header .modal-button {
        display: none;
    }

    .profile-info .profile-img img {
        margin-top: 0;
    }

    .profile-edit .main-btn {
        margin-bottom: 2em;
    }

    .feed article {
        max-width: 350px;
    }

    #profile {
        height: min-content;
    }

    #no-uploads {
        top: 70%;
        left: 53%;
    }

    #no-uploads img {
        width: 180px;
    }

    #profile .main-margin .main-btn {
        max-width: 200px;
        margin: auto;
    }

    #dots-modal{
        display: block;
    }

    .modal-container {
        position: fixed;
        bottom: 0;
    }

    #burgercheck{
        display: block;
    }

    /* Add & edit profile*/

    .form-container-add {
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: center;
    }

    #add {
        margin-bottom: 0;
    }

    .form-input {
        width: 400px;
    }

    #profile-display {
        width: 500px;
        height: 100%;
        margin-top: 0;
    }

    .profile-img-edit img {
        max-width: 500px;
        max-height: 700px;
    }

    .web-flex {
        display: flex;
    }

    .web-flex:first-child {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .profile-header {
        display: none;
    }

    .uploadzone-container {
        width: 500px;
        margin-right: 1em;
    }

    .form-container-edit-profile {
        align-self: center;
    }

    .no-posts-btn {
        bottom: 5vh;
        margin: 0;
    }

    /*post-detail*/
    #post-details .main-margin {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 2em;
    }

    #post-details .post-image img {
        max-width: 500px;
    }

    .hide-on-mobile {
        display: flex;
        width: 30vw;
        border-bottom: none;
    }

    .hide-on-desktop {
        display: none;
    }

    .profile-sidebar-info {
        display: flex;
        flex-direction: column;
        padding: 0 35px;
    }

    .profile-sidebar-info form {
        margin-top: 0;
    }

    .profile-sidebar-info .tag-list,
    .profile-sidebar-info .color-list {
        margin-bottom: 35px;
    }

    .project-title-desktop {
        padding: 0 35px;
        margin-top: 0;
    }

    .profile-sidebar-container {
        margin-left: 1em;
    }

    .profile-sidebar {
        border: 2px solid var(--IMDlightGrey);
        border-radius: 10px 10px 0 0;
        max-width: 30vw;
        height: fit-content;
        position: relative;
    }

    .profile-sidebar .post-text {
        max-width: 30vw;
    }

    #post-details .project-interactions h4 {
        margin-top: 0;
        margin-bottom: 0;
    }

    #post-details .project-interactions {
        margin-top: 0;
    }

    #post-details .main-margin section {
        display: block;
    }

    .modal-container2 {
        max-width: 30vw;
        margin-top: 0;
        border-radius: 0 0 10px 10px;
    }

    .modal-content2 {
        padding: 0;
        margin: 35px;
        width: auto;
    }

    #comment {
        margin: 0;
    }

    #btnAddComment .add-icon {
        margin-bottom: 0;
    }

    #post-details .modal-container-desktop {
        position: absolute;
        top: 23vh;
        right: 10vw;
        width: 15%;
        height: max-content;
        background-color: white;
        border: 2px solid var(--IMDblue);
        border-radius: 0.3rem;
        padding: 0.75rem 0.75rem 0.25rem 1.5rem;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
        transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    }

    #post-details .modal-container-desktop .modal-content {
        margin: 0;
        padding: 0;
    }

    /* Naughty list */

    #naughty-title{
        display: block;
        text-align: center;
    }

    



}

/* Showcase */
@media (min-width: 1300px) {
    .showcase-username {
        margin: 0;
        font-size: 20px;
        color: var(--IMDblue);
        width: max-content;
    }

    .profile-img-showcase {
        margin-top: 2.1875em;
    }

    .socials {
        max-width: 150px;
    }

}