/* DESKTOP */

:root {
    --IMDpink: #FCD7F7;
    --IMDblue: #0600ff;
    --IMDgreen: #bffd00;
    --errorRed: #f04c25;
    --errorRedLight: #fc0b2b63;
}

/* Welcome */
@media (min-width: 700px) {
    .logo-row {
        position: absolute;
        top: 30vh;
        margin: 0 0 0 15em;
        text-align: center;
        width: 100%;
    }

    .logo-row .logo {
        width: 450px;
        margin: 0;
    }

    .slogan {
        display: block;
        color: white;
        text-transform: uppercase;
        width: 100%;
        font-size: 2em;
    }

    .form {
        margin: 0 4em;
    }

    .form-background {
        height: 100vh;
        position: relative;
    }

    .form-container {
        border-radius: 0 40px 40px 0;
        height: 100vh;
        width: 33%;
    }

    .form-background .form-title {
        margin-top: 3em;
    }

    .welcomeIcon {
        margin-top: 7em;
    }

    #filler {
        margin-bottom: 45vh;
    }

    #filler img {
        width: 250px !important;
    }

}



/* Navigatie */
@media (max-width: 1300px) {
    nav.top-nav {
        display: none;
    }
}

@media (min-width: 1300px) {
    #home #container-logo {
        display: none;
    }

    #home {
        margin-top: 2em;
    }

    nav.bottom-nav {
        display: none;
    }

    #home .main-btn {
        width: 200px;
    }

    #home .main-margin {
        margin: auto;
    }
}


/* Profile */
@media (min-width: 700px) {
    .feed article {
        max-width: 250px;
    }
}

@media (min-width: 1300px) {
    #profile {
        position: relative;
    }

    .desktop-background {
        background: var(--IMDpink);
        display: block;
        width: 100vw;
        height: 200px;
    }

    .profile-container {
        position: absolute;
        top: 10vh;
        align-self: center;
        background-color: white;
        border: 2px solid var(--IMDblue);
        border-radius: 10px;
        width: 500px;
        height: min-content;
    }

    .profile-container .profile-header {
        border-bottom: none;
        display: flex;
        flex-direction: row;
    }

    .profile-container .profile-header .modal-button {
        display: none;
    }

    .profile-info .profile-img img {
        margin-top: 0;
    }

    .profile-edit .main-btn {
        margin-bottom: 2em;
    }

    .feed article {
        max-width: 350px;
    }

    #profile .feed {
        position: absolute;
        top: 40vh;
    }

    #no-uploads {
        top: 70%;
        left: 53%;
    }

    #no-uploads img {
        width: 180px;
    }

    /* Add & edit profile*/

    .form-container-add {
        margin-left: 19%;
        height: 0;
        width: 800px;
        height: 600px;
    }

    #add {
        margin-bottom: 0;
    }

    .form-input {
        width: 400px;
    }

    .margin-top-web {
        margin-top: 35px;
    }

    #profile-display {
        width: 500px;
        height: 500px;
        margin-top: 0;
    }

    .profile-img-edit img {
        max-width: 500px;
        max-height: 700px;
    }

    .clickable-text {
        display: none;
    }

    .web-flex {
        display: flex;
    }

    .profile-header {
        display: none;
    }

    .uploadzone-web img {
        height: 300px;
        width: 300px;
    }

    .uploadzone-container {
        width: 500px;
        margin-right: 1em;
    }

    .form-container-edit-profile {
        align-self: center;
    }


    /*post-detail*/
    .profile-header-pd {
        width: 500px;
        /* dit werkt niet */
    }

}