@import url("https://use.typekit.net/vqb1drq.css");

@font-face {
  font-family: BlaakBold_PERSONAL;
  src: url("../font/BlaakBlack_PERSONAL.ttf");
}

:root {
  --IMDblue: #0600ff;
  --IMDgreen: #bffd00;
  --errorRed: #f04c25;
  --errorRedLight: #fc0b2b63;
}

* {
  font-family: museo-sans, sans-serif;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/* login and register */
.hidden {
  display: none;
}

.display {
  display: block;
}

.flex {
  display: flex;
}

.center {
  text-align: center;
}

.form-background {
  background-color: var(--IMDblue);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.form-container {
  background-color: #fefefe;
  border-radius: 25px 25px 0 0;
  width: 100vw;
  height: 100%;
}

.form {
  height: 100%;
  margin: 0 2em;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.logo {
  width: 140px;
  height: auto;
  text-align: center;
  margin: 60px 0;
}

.logo-row {
  width: 140px;
  margin: 0 auto;
}

.form-title {
  font-family: BlaakBold_PERSONAL, serif;
  color: var(--IMDblue);
  font-size: 2em;
  margin: 1em 0 0 0;
}

.form-label {
  color: #a7a7a7;
  font-size: 0.9em;
}

.input-container {
  display: flex;
}

.form-input {
  padding: 0.7em;
  border-radius: 0.4em;
  flex: 1 1 auto;
  margin: 5px 0 1.2em 0;
  border: 2px solid #d2d2d2;
}

.form-field {
  margin-top: 1em;
}

.error {
  color: black;
  background-color: #fc0b2b63;
  border-left: 0.7em solid #fc0b2c;
  border-radius: 0.4em;
  padding: 0.8em 0.6em;
}

.form-btn {
  background-color: var(--IMDgreen);
  color: black;
  font-weight: 600;
  border-radius: 0.4em;
  margin-bottom: 1em;
  border: none;
  flex: 1 1 auto;
  padding: 0.8em;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.2em;
}

.switch {
  text-decoration: none;
  color: var(--IMDblue);
  font-weight: 700;
}

.form-link {
  margin: 19px 0 35px 0;
}

.line {
  border-top: 1px solid #a7a7a7;
  width: 280px;
  padding: 1.7em 0 1em 0;
}

.switch-container {
  display: flex;
  justify-content: center;
}

/* mobile nav */

.bottom-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  box-shadow: var(--IMDblue) 0px 15px 40px;
  background: #fefefe;
  position: absolute;
  width: 100%;
  bottom: 0px;
  z-index: 100;
}

.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.nav-link {
  padding-top: 5px;
}

.nav-link a {
  text-decoration: none;
  color: var(--IMDblue);
}

.nav-img img {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* DESKTOP NAV */
@media (max-width: 1300px) {
  nav.top-nav {
    display: none;
  }
}

@media (min-width: 1300px) {
  #home #container-logo {
    display: none;
  }

  #home {
    margin-top: 2em;
  }

  nav.bottom-nav {
    display: none;
  }
}

.top-nav {
  border-bottom: 2px solid #E5E3E3;
  background-color: white;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.top-nav #container-logo {
  padding: 0 0 0 30px;
}

.top-nav .search-nav {
  width: 100%;
}

.top-nav .search .profile-header {
  padding: 0;
  border-bottom: none;
}

.top-nav .inputSearch {
  width: 500px;
}

.top-nav .search .profile-header .filterbtn {
  margin: 0 10px;
}

.top-nav .search .profile-header .filterbtn .modal-button {
  height: 30px;
}

.top-nav .user-links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.nav-user img {
  max-width: 50px;
  max-height: 50px;
  border-radius: 100%;
}

.user-links .add-project-nav {
  max-width: 200px;
  max-height: 50px;
  margin-right: 25px;
}

.user-links .dropdown-button {
  margin-right: 32px;
}


/* INDEX (projects) */

#full-logo {
  width: 75px;
  height: auto;
}

#container-logo {
  padding: 30px;
  position: sticky;
  width: 100%;
  top: 0px;
  z-index: 100;
  background: #fefefe;
}

.dropdown-icon {
  width: 20px;
  padding-bottom: 8px;
  margin-left: 10px;
}

#home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#no-uploads {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-125px) translateY(-75px);
  z-index: -1;
}

#no-uploads img {
  width: 250px;
  height: auto;
}

#become-friend {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-125px) translateY(-75px);
  z-index: -1;
}

#become-friend img {
  width: 250px;
  height: auto;
}

#filler {
  align-self: center;
}

.project {
  margin: 0em 2em 0em 2em;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

.project-picture {
  background: #fefefe;
  border-radius: 10px;
}

.allUserPosts article {
  position: relative;
  max-width: 350px;
}

.allUserPosts article .project {
  margin: 0 0 1em 0;
}

.project-picture-overlay {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 9px;
  background-color: white;
  width: 42px;
  height: 42px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.showcase-icon {
  max-width: 20px;
  fill: #A7A7A7;
  stroke: #A7A7A7;
}

.showcase-icon-active {
  fill: var(--IMDblue);
  stroke: var(--IMDblue);
}

.project-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 30px 30px 30px;
}

.project-author {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: black;
}

.project-author-picture {
  max-width: 30px;
  max-height: 30px;
  border-radius: 5em;
  margin-right: 10px;
}

.project-author-username {
  color: black;
}

.comment-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.comment-box input {
  margin-left: 10px;
}

.project-author-picture-comment {
  max-width: 30px;
  max-height: 30px;
  border-radius: 5em;
  margin-right: 5px;
}

.project-author-username-comment {
  padding-left: 5px;
  color: var(--IMDblue);
}

.posted-comment {
  padding-left: 30px;
}

.project-interactions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
}

.project-interactions-like {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.project-interactions-comment {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.comment-icon {
  max-width: 27px;
  max-height: 24px;
  margin-right: 5px;
}

#like-icon {
  max-width: 27px;
  max-height: 24px;
  margin-right: 5px;
}

.like {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: black;
}

/* PROFILE */
#profile {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.profile-username {
  margin: 0;
  font-size: 20px;
  color: var(--IMDblue);
}

.profile-header {
  padding: 2.1875em;
  border-bottom: 1px solid #a7a7a7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.profile-header img {
  max-height: 25px;
}

.profile-img img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin: 2.1875em 1.75em 1em 2.1875em;
}

.profile-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-following {
  border: var(--IMDgreen) solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  padding: 5px 10px;
  border-radius: 3px;

}

.following-number {
  margin: 0;
  color: var(--IMDblue);
}

.following {
  margin: 0;
  color: var(--IMDblue);
}

.socialmedia-icons {
  width: 30px;
}

.profile-info-extra {
  margin: 0em 2.1875em 1em 2.1875em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.profile-bio {
  margin: 0em 2.1875em 1em 2.1875em;
}

.profile-text {
  margin: 0;
  font-size: 16px;
  color: var(--IMDblue);
}

.allUserPosts {
  margin-top: 2em;
  display: grid;

}

.follow-button {
  margin-bottom: 20px;
}

/* MODAL */
.modal-icon {
  max-width: 27px;
  max-height: 24px;
}

.modal-container {
  background-color: #fefefe;
  box-shadow: var(--IMDblue) 0px 15px 40px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  z-index: 101;
  border-radius: 25px 25px 0 0;
}

.modal-content {
  width: 100%;
  padding: 1.5em;
}

.modal-content a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.modal p {
  color: black;
  font-weight: 600;
}

.modal-close {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.modal-button {
  cursor: pointer;
}

.modal2 {
  overflow: auto;
  max-height: 70%;
}

.modal-icon2 {
  max-width: 27px;
  max-height: 24px;
}

.modal-container2 {
  background-color: #fefefe;
  box-shadow: var(--IMDblue) 0px 15px 40px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  z-index: 101;
  border-radius: 25px 25px 0 0;
}

.modal-content2 {
  margin: 1em;
  width: 100%;
  padding: 1em;
}

.modal-content2 a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.modal2 p {
  color: black;
  font-weight: 600;
  margin-left: 1em;
}

.modal-close2 {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.modal-button2 {
  cursor: pointer;
}

/* EDIT PROFILE */
.profile-img-edit img {
  margin: 2.1875em 0em 0.5em 0em;
  max-width: 300px;
  max-height: 300px;
}

.profile-img-edit {
  display: flex;
  justify-content: center;
}

.profile-edit {
  display: flex;
  margin: 0 2.1875em;
}

.profile-delete {
  display: flex;
  padding-top: 1em;
}

.profile-delete-yes {
  display: flex;
  margin: 0 2.1875em;
  padding-top: 1em;
}

.profile-delete-yes .main-btn {
  background-color: var(--errorRed);
}

.profile-delete-no {
  display: flex;
  margin: 0 2.1875em;
  padding-top: 1em;
}

.profile-delete-no .main-btn {
  background-color: #cdcec9;
}

.profile-delete-confirmation {
  margin: 0 2.1875em;
}

.clickable-text {
  color: var(--IMDblue);
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.form-container-edit-profile {
  padding: 2em 2em 0 2em;
  height: auto;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-input-closer {
  margin: 5px 0 5px 0;
}

/* NOT LOGGED INTO PROFILE*/
.not-logged-into-profile {
  margin: 0 2.1875em;
}

/* ADD */
.input-spacing {
  margin: 0 2em;
}

#add {
  margin-bottom: 8em;
}

.btn-add {
  margin-top: 2em;
}

/* POST DETAILS */
.padding {
  padding: 22.5px 35px;
}

.header-content {
  display: flex;
  align-items: center;
}

.post-username {
  margin: 0;
  margin-left: 1em;
  font-size: 18px;
  font-weight: 600;
}

img.post-profile {
  width: auto;
  max-height: 50px;
  border-radius: 50%;
}

.post-image img {
  max-width: 350px;
}

.post-text {
  font-weight: 100;
}

.report {
  width: 170px;
  height: auto;
  padding: 1em 1em 2em 1em;
}

.add-icon {
  margin-bottom: 15px;
  margin-left: 5px;
}

/* REUSABLE PARTS */
.main-btn {
  background-color: var(--IMDgreen);
  color: black;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  border-radius: 0.4em;
  border: none;
  flex: 1 1 auto;
  padding: 0.8em;
  cursor: pointer;
  width: 100%;
}

.main-margin {
  margin: 0 2em;
}

.welcomeIcon {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-input-error {
  border-color: var(--errorRed);
  background-color: var(--errorRedLight);
}

.form-label-error {
  color: var(--errorRed);
}

/* Tags from posts */
.tag-input .input div {
  position: relative;
}

.input-icon {
  position: absolute;
  max-width: 20px;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.tags-input {
  padding: 0.7em;
  border-radius: 0.4em;
  flex: 1 1 auto;
  margin: 5px 0 5px 0;
  border: 2px solid #d2d2d2;
  text-indent: 20px;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 0.7em;
}

.tag-list .tag-item {
  padding: 0.5em;
  border: 2px solid var(--IMDblue);
  color: var(--IMDblue);
  border-radius: 5px;
  user-select: none;
}

.tag-list .tag-item .delete-btn {
  display: inline-block;
  margin: 0 4px 0 2px;
  width: 8px;
  text-align: center;
  color: #a7a7a7;
}

/* SEARCH */

.searchbtn {
  background-color: var(--IMDgreen);
  text-decoration: none;
  border-radius: 0.4em;
  border: none;
  padding: 0.8em;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.inputSearch {
  height: 50px;
  width: 65%;
  border: 2px solid var(--IMDgreen);
  border-radius: 0.4em;
  background-size: 20px;
  align-content: center;
  padding-left: 20px;
  background-color: white;
}

.inputSearch:focus {
  outline: none;
  border: 2px solid black;
}

.filterbtn {
  border: 2px solid var(--IMDgreen);
  border-radius: 0.4em;
  padding: 0.8em;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: white;
  box-shadow: none;
}

.allPostsSearch {
  margin-top: 2em;
}

.search .modal-content h3 {
  color: var(--IMDblue);
}

#listupdates {
  padding: 0px;
  overflow-y: scroll;
  max-height: 350px;
}

/*DROPDOWN*/

.dropdown {
  position: relative;
}

.dropdown-button {
  border: none;
  cursor: pointer;
  background-color: white;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + .25rem);
  background-color: var(--IMDgreen);
  padding: .75rem .75rem .25rem .75rem;
  border-radius: .30rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
  opacity: 0;
  transform: translateY(-10px);
  transform: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  pointer-events: none;

}

.dropdown-menu.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown-menu div {
  margin-bottom: 8px;
  display: flex;
  align-items: center;

}

.dropdown-menu a {
  text-decoration: none;
  color: black;
  margin: 5px 0px;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;

}

.dropdown-menu img {
  width: 20px;
  padding-bottom: 2px;
  display: flex;
  justify-content: space-between;
  position: end;
}

.following-icon {
  margin-left: 20px;
}